__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
*.pyc
dva_env/
venv/
env/
ENV/
.venv
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

data/raw/meta-Georgia.json
data/raw/review-Georgia.json
data/processed/
team15proposal.pdf
*.log
.DS_Store
Thumbs.db